body {
  background-color: rgb(245, 232, 250);
  font-size: 20px;
  font-family: sans-serif;
  margin: 500;
  line-height: 1.5;
  text-align: center;
  padding: 100px;
}

h1 {
  color: rgb(14, 101, 63);
  font-family: sans-serif;
  text-align: center;
}

h2 {
  text-align: center;
  color: rgb(14, 101, 63);
}

p {
  text-align: center;
}

ul,
ol {
  list-style-type: none;
  text-align: center;
}

.foto-omne {
  float: left;
  width: 300px;
  margin: 30px;
  border-radius: 10%;
  border: 3px solid #0c4949;
}

.face,
.email {
  width: 1em;
  height: 1em;
}

a {
  color: #0b6622;
  font-style: normal;
  text-decoration: none
}

a:hover {
  color: #0cb661;
}
